


body{
    background-color: rgb(192, 216, 168);
}
header nav ul, footer nav ul, .aulas nav ul{
    justify-content: space-between;
    display: flex;
    
}
.galeria img, .video video{
    height: 260px;
    width: 380px;
}
nav ul, a{
    list-style: none;
    text-decoration: none;
}
.titulo{
    justify-content: center;
    align-content: space-between;
}
.logo_h1{
    height: 500px;
    width: 580px;
}
.div1 img{
    height: 500px;
    width: 580px;
    float: right;
}
#header1 ul , #rodape1 ul{
    list-style: none; 
    padding: 10px;
    margin: 0;
    display: flex; 
}